<% provide("About",:title) %>
<!DOCTYPE html>
<html>
  <head>
    <title>About |<%= yield(:title) %></title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the about page for VibeCity.
    </p>
  </body>
</html>

