               display: block;
            }

        </style>
         <title><%= yield(:title) %> | Home</title>
    </head>

    <body>
         <img src="images/djpic.jpg" alt= "VibeCity">

  <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#About">About Us</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Equipment</a>
            <div class="dropdown-content">
                  <a href="#">Music</a>
                  <a href="#">Mixers</a>
                  <a href="#">Speakers</a>
                  <a href="#">Miscellaneous</a>
            </div>
     </li>
     <li><a href="#membership">Membership</a></li>
     <li><a href="#reviews">Reviews</a></li>
      <li><a href="#signin">Sign In</a></li>
    </ul>

    <h2> What Is VibeCity!!!</h2>

    <p1>
        Vibe City is the world leader in providing top quality DJ equipment, and music to DJs all around the world. We offer a wide variety of music for any gig, and we even help you land gigs. We also offer top notch equipment from mixers, speakers, visual edits etc. We offer a membership to help you save money, and gain business by bridging client with DJ. Hope you enjoy the many perks of being part of VibeCity!
    </p1>

    </body>
</html>
-- INSERT --                 
