<% provide(:title, "Membership") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Membership</title>
  </head>
  <body>
    <h1>VibeCity Membership</h1>
    <p>
      This is the membership page for the VibeCity application.
    </p>
  </body>
</html>
