<% provide(:title, "Reviews") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Reviews</title>
  </head>
  <body>
    <h1>Reviews</h1>
    <p>
      This is the review page for the VibeCity.
    </p>
  </body>
</html>

